 body {
   font-family: arial, sans-serif;
   /* background: #FFFFF7; */
   background: #fff3ff;
 }

 * {
   padding: 0px;
   margin: 0px;
 }

 .content {
   display: grid;
   grid-template-columns: repeat(8, 1fr);
   grid-auto-rows: minmax(100px);
   margin: 0 auto;
   grid-gap: 5px;
   /* background: rgba(255, 255, 247, 0.932); */
 }

 .header {
   grid-column: 1/9;
   grid-row: 1;
   grid-template-columns: 10% 40% 50%;
   /* background: #4960A0; */
   background-image: linear-gradient(to top, #4960a0, #4666ab, #426bb7, #3c71c2, #3277ce);
   box-shadow: 1px 1px 1px 1px #4960a0;
   display: grid;
   color: whitesmoke;
   font-family: 'Roboto', sans-serif;
 }

 .header div img {
   width: 100px;
   height: 100px;
 }

 .leftbox {
   display: flex;
 }

 .leftbox>div {
   padding: 30px;
   margin: 10px;
 }

 .leftbox>div>a {
   color: white;
 }

 .rightbox {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: minmax(100px);
   text-align: center;
 }

 /* .rightbox>div {
   /* padding: 20px; */

 /* }  */

 .nav-username {
   grid-column: 1;
   grid-row: 1;
   /* padding: 17px; */
   /* background: #C92240; */
   text-align: end;
   /* margin-right: -100px; */
 }

 .nav-role {
   grid-row: 1;
   /* background: tan; */
 }

 .nav-image {
   grid-column: 3;
   grid-row: 1/2;
   padding: 30px;
   /* background: yellow; */
   /* margin-left: -130px; */
 }

 .inner-right-box {
   grid-column: 2/4;
   grid-row: 1/2;
   display: grid;
   flex-direction: column;
   padding: 20px;
   grid-row-gap: 20px;
 }

 .nav-logout {
   text-decoration: underline;
   color: white;
   /* background: thistle; */
   grid-column: 2;
 }

 main {
   grid-column: 4/9;
   grid-row: 2/8;
   /* border: 2px solid #e6e6f5; */
   background: #F9F9F1;
 }

 nav {
   grid-column: 1/4;
   grid-row: 2/8;
   /* border: 2px solid #e6e6f5; */
   /* background: #FCFCF7; */
   background: #F9F9F1;
 }

 .footer {
   grid-column: 1/9;
   grid-row: 8;
   /* background: #73B1D6; */
   /* background: #4960A0; */
   background-image: linear-gradient(to top, #4960a0, #4666ab, #426bb7, #3c71c2, #3277ce);
   box-shadow: 1px 1px 1px 1px #4960a0;
   display: flex;
   justify-content: center;
   padding: 20px;
 }

 .footer a {
   text-decoration: none;
 }

 .my-details {
   font-size: 20px;
   text-decoration: underline;
 }

 .linkedin a img {
   height: 50px;
   width: 50px;
 }

 .github a img {
   height: 50px;
   width: 50px;
 }

 /*  Register Style */

 .userContent {
   grid-column: 1/11;
   grid-row: 2;
   grid-template-columns: repeat(8, 1fr);
   display: grid;
   width: 100%;
   height: 100%;
   grid-gap: 5px;
 }

 .userCenterForm {
   display: grid;
   grid-column: 3/6;
   /* grid-auto-rows: minmax(100px, auto); */
   margin: 5em;
 }

 .nav-image {
   border-radius: 50%;
 }

 /*  Register Style End */

 /* INDEX CSS Start*/

 .mainScreen {
   padding: 15px;
   grid-column: 4/9;
   height: 800px;
   border-radius: 25px;
   box-shadow: 1px 1px 1px 1px #4960a0;
 }

 .mainNavBar {
   box-shadow: 1px 1px 1px 1px#4960a0;
   border-radius: 25px;
   padding: 15px;
   grid-column: 1/4;
   display: grid;
 }

 .mainNavBar ul {
   display: grid;
   grid-gap: 5px;
 }

 #studentSideHeadId {
   grid-column: 1/3;
   /* background: greenyellow; */
 }

 #coursesSideHeadId {
   grid-column: 3/6;
   /* background: teal; */
 }

 .studentSideBody {
   grid-column: 1/3;
   /* background: fuchsia; */
   box-shadow: 1px 1px 1px 1px#4960a0;
   display: grid;
   grid-auto-rows: 37px;
   grid-template-columns: repeat(3, 1fr);
 }

 .coursesSideBody {
   grid-column: 3/6;
   display: grid;
   grid-auto-rows: 37px;
   grid-template-columns: repeat(3, 1fr);
 }

 .lestSideHeader {
   text-align: center;
   padding: 25px;
   box-shadow: 1px 1px 1px 1px#4960a0;
   text-decoration: underline;
   font-size: 25px;
   background-image: linear-gradient(to top, #4960a0, #4666ab, #426bb7, #3c71c2, #3277ce);
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 25px;
 }

 .lestSideHeader p {
   grid-column: 1/3;
 }

 .lestSideHeader span {
   grid-column: 3;
 }

 .studentManuImg {
   background: lightslategrey;
   grid-column: 1;
   grid-row: 1/3;
 }

 .studentManuName {
   background: lightsalmon;
   grid-column: 2/4;
   text-align: center;
 }

 .studentManuPhone {
   background: lightgreen;
   grid-column: 2/4;
   text-align: center;
 }

 .coursManuImg {
   background: lightslategrey;
   grid-column: 1;
   grid-row: 1/3;
 }

 .coursManuName {
   background: lightsalmon;
   grid-column: 2/4;
   text-align: center;
 }

 .coursManuPhone {
   background: lightgreen;
   grid-column: 2/4;
   text-align: center;
 }

 /* ADMINISTARATOR START: */

 .adminLeftSideNav {
   grid-column: 1/6;
   text-align: end;
   padding: 0.7em;
   font-size: 25px;
   background-image: linear-gradient(to top, #4960a0, #4666ab, #426bb7, #3c71c2, #3277ce);
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 25px;
   box-shadow: 1px 1px 1px 1px#4960a0;
 }

 */ .adminLeftSideNav p {
   grid-column: 1/3;
 }

 .adminLeftSideNav span {
   grid-column: 3;
 }

 .adminLeftSideNav a {
   color: black;
 }

 .adminSideBody {
   grid-column: 1/6;
   box-shadow: 1px 1px 1px 1px#4960a0;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
 }

 .adminManuImg {
   grid-column: 1;
   grid-row: 1/4;
 }

 .adminManuName {
   grid-column: 2/3;
   text-align: start;
 }

 .adminManuPhone {
   grid-column: 2/4;
   text-align: center;
 }

 .adminManuEmail {
   grid-column: 2/4;
   grid-row: 3;
   text-align: center;
 }

 .adminManuRole {
   grid-column: 3/4;
   grid-row: 1;
   text-align: center;
 }

 .adminManuImg {
   height: 50px;
   width: 50px;
   border-radius: 50%;
   background: red;
 }